{% extends 'baseLayout.html' %}

{% block someFcn %}
    <h1>Login</h1>
    <form style="margin-bottom: 10px" method='post'>
        {% csrf_token %}
        {{form}}
        <br>
        <input class="btn" type="submit" value='Login'>
    </form>
    <button class="btn" onclick="location.href = '/accounts/signup'">signup</button><br>

    <button class = 'btn' onclick="location.href = '/collaAdmin/studentpage'">test login student</button>
    <button class = 'btn' onclick="location.href = '/collaAdmin/teacherpage'">test login teacher</button>
{% endblock %}