{% extends 'baseLayout.html' %}

{% block someFcn %}
    <h1>請假單</h1>
    <form id='leaveApplication' action='' method='post'>
        {% csrf_token %}
        <select name='targetCourse'>

            <option>course.course_name</option>

        </select>
        <br>
        <textarea style='height:150px; width:400px; margin:20px' name='description'> 請假事由</textarea>
        <br>
        <input type='hidden' name='application' value='whatever'>
        <input type="submit" value='提交'>
    </form>
{% endblock %}