{% extends 'baseLayout.html' %}

{% block someFcn %}
    <h1>teacher page</h1>
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/collaAdmin/addCourse'">新增課程</button>
    <button class = 'btn btn-xl col-lg-4' onclick="location.href = '/accounts/logout'">logout</button>
    <button class = 'btn btn-xl col-lg-4' onclick="location.href = '/collaAdmin/userAttendance'">attendence</button>
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/rollcall'">點名</button>
{% endblock %}