{% extends 'baseLayout.html' %}

{% block someFcn %}

    <header><H1>WELCOME</H1></header>
    {% if user.is_authenticated %}
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/collaAdmin/studentpage' ">I'm a student.</button>
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/collaAdmin/teacherpage' ">I'm a teacher.</button>
    {% else %}
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/accounts/login/0' ">I'm a student.</button>
    <button class="btn btn-xl col-lg-4" onclick="location.href = '/accounts/login/0' ">I'm a teacher.</button>
    {% endif %}

{% endblock %}