{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>Collaborator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href="{% static 'mainpage.css' %}""> 
    </head>

    <body>
        <div class='container'>
            <h1 class='passage' id="logo">
                <span class='passage' style='text-decoration-line: overline; font-weight: bold;'>Collab</span>
                <span style='color: white;'>orator</span>
            </h1>
            <div class='title'>
                <p></p>
                <a style="text-decoration:none;" href="/accounts/login/0"><p class='passage' style='font-variant-caps: all-small-caps; font-weight: bold; font-size: 180%;'>
                    Student
                </p></a>
                <img src="{% static 'logo.jpg' %}"></img>
            </div>
            <div id='teacher'>
                <a style="text-decoration:none;" href="/accounts/login/0"><p class='passage' style='font-variant-caps: all-small-caps; font-weight: bold; font-size: 180%; margin-bottom: 30px;'>Teacher</p></a>
                <p></p>
                <p class='passage'><span style='font-variant-caps: all-small-caps; font-size: 90%;'>Bldg.2 College of Management</span> </p>
                <p class='passage'><span style='font-variant-caps: all-small-caps; font-size: 90%;'>{{Month}} {{Date}}, 6pm - 9pm</span></p>
            </div>
        </div>
    </body>
</html>