{% extends 'baseLayout.html' %}
{% load staticfiles %}
{% block someFcn %}
	<div class="header">
		<h1 id='mainh1'>plz scan it</h1>
		<h1 id='time'>__:__</h1>
	</div>
	<div class="formstyle">
		<!-- <div id='par1' onload="gettime()"></div> -->
		<form action="#" method="get" onsubmit="return false;">
			<div id="TEXTINPUT">
				<div><textarea hidden="true" placeholder="plz enter the date ex.1125" id="text-input" style="width:30%; max-width:30em; height:3em; font-family:inherit"></textarea></div>
			</div>
			<div>
				<!-- <p><strong>QR Code:</strong></p> -->
				<div id="QRCODE" style="display: none;">
					<canvas id="qrcode-canvas" style="padding:1em; background-color:#E8E8E8"></canvas>
					<svg id="qrcode-svg" style="width:30em; height:30em; padding:1em; background-color:#E8E8E8">
						<rect width="100%" height="100%" fill="#FFFFFF" stroke-width="0"></rect>
						<path d="" fill="#000000" stroke-width="0"></path>
					</svg>
				</div>
			</div>
			<div id="scale-row"> <!-- scale -->
				<input type="hidden" value="8" id="scale-input">
			</div>
			<div>
				<input type="hidden" name="output-format" id="output-format-bitmap" checked="checked">
				<input type="hidden" value="4" id="border-input">
				<input type="hidden" value="1" id="version-min-input"> <!-- oninput="app.handleVersionMinMax('min');"> -->
				<input type="hidden" value="40" id="version-max-input" ><!-- oninput="app.handleVersionMinMax('max');"> -->
				<input type="hidden" value="-1" id="mask-input">
				<input type="hidden" checked="checked" id="boost-ecc-input"><label for="boost-ecc-input"><!-- Increase <abbr title="error-correcting code">ECC</abbr> level within same version --></label>
			</div>
			<div id="svg-xml-row">
				<textarea id="svg-xml-output" hidden="true" readonly="readonly" style="width:100%; max-width:50em; height:15em; font-family:monospace"></textarea>
			</div>
		</form>
	</div>
	<div class="form-group" align="center">
		<select id="selctcourse" class="form-control" style="width: 20%;">
			<option>-</option>
			{% for i in courseLst %}
				<option value="{{i.course_name}}">{{i.course_name}}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<button class="btn" id='start' onclick="hi(30); redrawQrCode();">開始點名</button> <!-- 時間 -->
		<button class="btn" onclick="location.href = '/collaAdmin/teacherpage'">back</button>
	</div>

<script type="text/javascript">
	function hi(duration){
		document.getElementById("QRCODE").style.display = 'block';
		document.getElementById("start").style.display = 'none';
		document.getElementById("mainh1").innerHTML = '請在限時內掃描';
		document.getElementById("selctcourse").style.display = 'none';

		var timer = duration, minutes, seconds;
		var t = setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        document.getElementById('time').textContent = minutes+":"+ seconds;
        if (--timer < 0) {
            document.getElementById("QRCODE").style.display = 'none';
    				document.getElementById("mainh1").innerHTML = '時間到';
    				clearInterval(t);
        }
    }, 1000);
	}
</script>
<script type="application/javascript" src="{% static 'qrcodegen.js' %}"></script>
<script type="application/javascript" src="{% static 'qrcodegen-demo.js' %}"></script>
{% endblock %}